._23IDiI-F_FxXotrgpY71r8,
._3apLK4XGwOjawDa-8X1CUa,
.Panel,
.Focusable,
.gpfocuswithin {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    transition-duration: calc(300ms / var(--transition-multiplier));
}

.sfthxkhui6WSgvnbllI_n,
._37a8dECtfsuIJDxkCZuNNg,
._3iEm9LzlOoh8dkVkWV5Ep- {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    transition-duration: calc(300ms / var(--transition-multiplier));
}